<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XxlJobSQLEntityMapper">
	
	<resultMap id="XxlJobSQLEntity" type="com.xxl.job.admin.core.model.XxlJobSQLEntity" >
		<result column="id" property="id" />
	    <result column="sqllist" property="sqlList" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.sqllist
	</sql>

	<select id="findAll" parameterType="java.lang.Integer" resultMap="XxlJobSQLEntity">
		SELECT <include refid="Base_Column_List" />
		FROM XXL_JOB_VBILL_SQL_TASK_LIST AS t
		ORDER BY t.id ASC
	</select>


</mapper>